td {
    margin: 30px;
    padding: 15px;
}

.cart-container {
    display: flex;
}

.form {
    margin-top: 50px;
}

.cart {
    padding: 30px;
    border: 1px solid whitesmoke;
    margin-bottom: 30px;
}

.button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;;
    color: white;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: white;
}
